*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

menu,
ul, ol {
    list-style: none;
    display: inline;
} 

img{
    width: 100%;
}

a {
	text-decoration: none;
	color: black; 
    /* currentcolor */
}
/* LAYOUT */
.container{
    max-width: 900px;
    margin: 0 auto;

}
.container-sm{
    max-width: 700px;
    margin: 0 auto;
}

.flex{  
  display: flex;
  flex-wrap: wrap;
    
}
.row-rev{
    flex-direction: row-reverse;
}
.sp-between{
    justify-content: space-between;
}
.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}
    
li{
    display: inline;
    padding-right: 20px; 
    
   
}
.btn{
    border-radius: 10px;
    padding: 10px ;
    border: 1px solid black;
    color: black;
}
.btn-white{
    border-radius: 10px;
    padding: 10px ;
    border: 1px solid black;
    color: black;
    background-color: white;
}
.btn-black{
    border-radius: 10px;
    padding: 10px ;
    border: 1px solid black;
    color: white;
    background-color: black;
}
.pd-10{
    padding: 10px 10px;
}





/* UTILITY */
.item-33 {
	width: calc(100% / 3);
}

.item-66 {
	width: calc(2 * 100% / 3);
}

.item-1-6 {
    width: calc(100% / 6);
}

.item-25 {
	width: calc(100% / 4);
}

.bg__blue{
    background-color:rgb(37, 94, 233)
}
.paper__main .hero{
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}
.bg-white{
    color: white;
    
}
.txt-center{
    text-align: center;
}


/* DEBUG */
.debug .container  {
	/* border: 1px solid black; */
	padding: 20px;
}
.debug .flex {
	/* border: 2px solid red; */
	padding: 20px;
}

.debug .paper__header {

	/* background-color: aquamarine; */
	/* padding: 20px 0px; */
}
.debug .paper__footer {
    /* background-color: #333; */
	padding: 20px 0px;
	/* color: white; */
}
.debug .flex > * {
	/* border: 1px dotted black; */
	padding: 5px;
}
.debug section {
     padding: 32px; 
}


.debug main .flex > * {
	min-height: 200px;
}
.debug{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}









    /* .bg__violet{
        background-color: violet;
    }
    .bg__acq-m{
        background-color: aquamarine;
    
    .bg__yellow-item{
        background-color: yellow;
        min-height: 10px; 
    }
    .bg__grey{
        background: rgb(175, 175, 175);
    }
    .bg__lightblue{
        background-color: rgb(103, 103, 245);
    }
    .bg__green {
        background: green;
    }
    .bg__red{
        background: red;
    }
    .bg__black{
        background: rgb(51, 44, 44);
    } */
